{% include 'parts/header.html.twig' %}
<div class="flex row start">
    <a class="button small-button" href="{{ path(returnRoute) }}">Return</a>
</div>
<h1>{{ header }}</h1>
<div class="flex row center">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Player name</th>
                <th>Damage dealt</th>
                <th>Health gained</th>
                <th>Monster Name</th>
                <th>Damage dealt</th>
                <th>Health gained</th>
            </tr>
        </thead>
        <tbody>
            {% for turn in turns %}
                <tr>
                    <td>{{ turn.id }}</td>
                    <td>{{ turn.playerName }}</td>
                    <td>{{ turn.playerDamage }}</td>
                    <td>{{ turn.playerHealthGain}}</td>
                    <td>{{ turn.monsterName }}</td>
                    <td>{{ turn.monsterDamage }}</td>
                    <td>{{ turn.monsterHealthGain}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'parts/footer.html.twig' %}
