{% include 'parts/header.html.twig' %}
<div class="flex row start">
    <a class="button small-button" href="{{ path('rpg_index') }}">Return</a>
</div>
<h1>{{ header }}</h1>
<div class="flex row center">
    <table>
        <thead>
            <tr>
                <th>Player</th>
                <th>Kills</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for score in data %}
                <tr>
                    <td>{{ score.name }}</td>
                    <td>{{ score.kills }}</td>
                    <td>{{ score.score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'parts/footer.html.twig' %}
