{% include 'parts/header.html.twig' %}
<h1>{{ header}}</h1>
<h2>{{ name }}</h2>
<form class="" action="{{ path('rpg_level_up_post') }}" method="post">
    <div class="flex row center">
        <h3>Points used: {{usedPoints}}/{{maxPoints}}</h3>
    </div>
    <div class="flex column">
        <p>Stamina - Increase HP by {{hp}} for each point from base HP of {{baseHP}}.</p>
        <div class="flex row center">
            <button class="button small-button {{ (stamina > staminaMin) ? "" : "hidden" }}" type="submit" name="action" value="stamina-sub">-</button>
            <input class="input-stats" readonly type="number" name="stamina" value="{{ stamina }}">
            <button class="button small-button {{ (max) ? "hidden" : "" }}" type="submit" name="action" value="stamina-add">+</button>
        </div>
    </div>
    <div class="flex column">
        <p>Strength - Number of sides on each dice increased by {{ diceSides }} from base of {{ baseDiceSides }}.</p>
        <div class="flex row center">
            <button class="button small-button {{ (strenght > strenghtMin) ? "" : "hidden" }}" type="submit" name="action" value="strenght-sub">-</button>
            <input class="input-stats" readonly type="number" name="strenght" value="{{ strenght }}">
            <button class="button small-button {{ (max) ? "hidden" : "" }}" type="submit" name="action" value="strenght-add">+</button>
        </div>
    </div>
    <div class="flex column">
        <p>Agility - Number of dices increased by {{ dices }} from base of {{ baseDices }}.</p>
        <div class="flex row center">
            <button class="button small-button {{ (agility > agilityMin) ? "" : "hidden" }}" type="submit" name="action" value="agility-sub">-</button>
            <input class="input-stats" readonly type="number" name="agility" value="{{ agility }}">
            <button class="button small-button {{ (max) ? "hidden" : "" }}" type="submit" name="action" value="agility-add">+</button>
        </div>
    </div>
    {% if max %}
        <input class="button" type="submit" name="action" value="Confirm">
    {% endif %}

</form>

{% include 'parts/footer.html.twig' %}
